.title{
    font-family: 'Chakra Petch';
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin-bottom: 25px;
}

.text{
    max-width: 880px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Chakra Petch';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
}