.container{
    position: relative;
    margin-bottom: 40px;
}

.input{
    outline: none;
    background: #1B1B1B;
    border: none;
    border-radius: 10px;
    padding: 10px 35px 10px 20px;
    width: 100%;
    font-size: 17px;
    line-height: 21px;
    color: #fff;
    font-family: 'Inter';
}

.icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}